[submodule "sds"]
	path = sds
	url = https://github.com/robertying/sds.git
[submodule "utf8proc"]
	path = utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
	ignore = dirty
