[submodule "sds"]
	path = sds
	url = https://github.com/robertying/sds.git
[submodule "utf8proc"]
	path = utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "tidy-html5"]
	path = tidy-html5
	url = https://github.com/robertying/tidy-html5.git
